{% extends "./layout.html" %}
{% load static %}
{% block class %}single{%endblock%}
{% block content %}
<div class="pra">
    <h1 style="color: red;text-align: center;">نبذة عنا</h1>
    <hr>
    <p>
        مجلة الغد مجلةإخبارية مختصة بالشؤون العالمية والمقالات اليومية والحصرية <br>     مجلة مختصة بجميع المعلومات والأخبار العاجلة التي يبحث عنها كل شخص  <br>
        شعارنا التميز والمصداقية والمحتوى الفريد والمفيد  <br>
        تابع حساباتنا على مواقع التواصل الاجتماعي
        <br>
        <a href="https://twitter.com/majalaalgd">حساب التويتر</a>. <br>
        <a href="https://www.facebook.com/profile.php?id=100088864791901&mibextid=ZbWKwL">حساب الفيسبوك</a>.

    </p>

    </div>
 
{% endblock %}